<html>
<head>
  <title>Image Details</title>
</head>
<body>
    <h1>Image Details</h1>
  
    <h2>Image ID: <%= image.id %></h2>
    <img src="<%= image.imageUrl %>">
    <p>Posted by: <%= image.imagePoster %></p>
    <p>Tags: <%= image.imageTags %></p>
</body>
</html>