<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Search Topline Pro</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
        <input type="text" placeholder="Insert Search Term" id="input">
        <button id="searchButton">Search</button>
    </section>
    <section id="imageContainer"></section>
    <section>
        <button id="nextPageOfResults">More Results</button>
    </section>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>