#imageContainer {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #imageContainer li {
    width: 48%;
    margin-bottom: 10px;
  }
  
  #imageContainer img {
    width: 100%;
    height: auto;
    max-width: 500px;
  }

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

section:last-child {
  display: flex;
  justify-content: flex-end;
}