#imageContainer {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #imageContainer li {
    width: 48%;
    margin-bottom: 10px;
  }
  
  #imageContainer img {
    width: 100%;
    height: auto;
  }